#newsfeed {
    max-width: 800px;
    margin: auto;
  }
  
  .article-table {
    border-collapse: collapse;
    border: 1px solid #4CAF50;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .article-table th,
  .article-table td {
    padding: 10px;
    border: 1px solid #4CAF50;
    text-align: left;
    font-size: 16px;
  }
  
  .article-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
  }
  
  .article-table td:last-child {
    text-align: right;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    text-align:center;
    font-size: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e2f4e2;
  }